<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title></title>
		<link rel="stylesheet" href="../public/css/ssbase.css">
		<style>
			*{margin: 0;padding: 0;list-style: none;}
			body,html{width: 100%;height: 100%;}
			
			
		</style>
	</head>
	<body>
		<h3></h3>
		<a href="#">
			<button type="button">发表留言</button>
		</a>
		<ul class="content size-15">
			^_^
		</ul>
	</body>
	<script>

	</script>
</html>
